name: islami
description: "A new Flutter project."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ">=3.3.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  go_router: ^17.0.1
  gap: ^3.0.1
  flutter_native_splash: ^2.4.7
  introduction_screen: ^4.0.0
  google_fonts: ^6.3.3
  carousel_slider: ^5.1.1
  shared_preferences: ^2.5.4

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/images/
    - assets/files/quran/
    - assets/files/hadeeth/
